*{
	margin: 0;
}
body{
	text-align: center;
	color: #fff;
	font-size: 16px;
}
.container{
	background-image: url(./camp.jpeg) ;
	background-size: cover;
	background-repeat: no-repeat;
	padding: 40px 0;
	
}
.button a{
	background-color: #d44217;
	padding: 10px 10px;
	border-radius: 4px;
	text-decoration: none;
	color: #fff;
	font-size: 18px;
}
.container h2{
	margin-top: -10px;
	margin-bottom: 20px;
}

.info{
	margin-bottom: 35px	
}